{{- $name := promptStringOnce . "name" "Full name for git identity" "Kulwant Singh" -}}
{{- $email := promptStringOnce . "email" "Email for git identity" "singh.kulwant@gmx.com" -}}
{{- $github := promptStringOnce . "github_user" "GitHub username" "imkulwant" -}}
{{- $work := promptBoolOnce . "work" "Is this a work machine?" false -}}

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
github_user = {{ $github | quote }}
work = {{ $work }}
