# Status and log
alias gs='git status -sb'                # Short status with branch info
alias gl='git log --oneline --graph --decorate --all'  # Visual log
alias gll='git log --oneline'            # Compact log
alias gco='git checkout'                 # Checkout branch
alias gcb='git checkout -b'              # Create and checkout new branch
alias gb='git branch'                    # List branches
alias gd='git diff'                      # Diff
alias gdc='git diff --cached'            # Diff staged changes
alias ga='git add -A'                    # Add all changes
alias gap='git add -p'                   # Add interactively
alias gc='git commit -v'                 # Commit with verbose
alias gcm='git commit -m'                # Commit with message
alias gca='git commit -a -m'             # Add and commit all
alias gcam='git commit --amend'          # Amend last commit
alias gp='git push'                      # Push
alias gpo='git push origin'              # Push to origin
alias gpl='git pull'                     # Pull
alias gplo='git pull origin'             # Pull from origin
alias gst='git stash'                    # Stash changes
alias gstp='git stash pop'               # Pop stash
alias gcl='git clone'                    # Clone repo
alias gr='git remote -v'                 # List remotes
alias grb='git rebase'                   # Rebase
alias grba='git rebase --abort'          # Abort rebase
alias grbc='git rebase --continue'       # Continue rebase
alias gcp='git cherry-pick'              # Cherry-pick commit
alias gsta='git stash apply'             # Apply stash
alias gclean='git clean -fd'             # Remove untracked files

# Show last commit
alias glast='git log -1 HEAD'            # Show last commit

# Show aliases
alias galias='git config --get-regexp alias' # List git aliases

# Add and commit together
alias gac='git add . && git commit -m'   # Add all and commit

# Push current branch to origin
alias gpthis='git push origin $(git rev-parse --abbrev-ref HEAD)'   # Push current branch

# List files
alias ls='eza --icons --git'
alias ll='eza -la --icons --git'
alias la='eza -a --icons --git'
alias l='eza --icons --git'

# File viewing
alias cat='bat --paging=never'

# Editor shortcuts
alias v='nvim'
alias e='code --wait'

# Git UI
alias lg='lazygit'

# Disk usage
alias du1='du -h --max-depth=1'

# Networking
alias ports='netstat -tulanp'

# Search
alias grep='grep --color=auto'
alias f='find . -name'

# System info
alias myip='curl ifconfig.me'

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd ~'
alias c='clear'
